body{
    font-family: 'Intro Bold';
}
header{
    background: #000000;
    height: 120px;
}
.lgtp{
    display: block;
    float: left;
    overflow: hidden;
}
.nav-hdr{
   float: left;
   padding-top: 5px;
}
.hdr{
  list-style: none;
}
ul.hdr li{
    display: inline-block;
}
ul.hdr li a{
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}
ul.hdr li a:hover{
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #e5185b;
    padding-bottom: 9px;
}
.nav>li>a:hover, .nav>li>a:focus {
  text-decoration: none;
  background-color: #000000;
}
.navbar-rigth{
    float: right;
    margin-top: -10px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
}
ul.navbar-rigth li a:hover{
    border-bottom-style: none;
    padding-bottom: 0;
}
.tx-email{
    position: absolute;
    top: 6px;
    left: 42px;
    z-index: 2;
    width: 35px;
    color: #e5185c;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    
    .tx-email_lft{
        left: 34px;
    }
    
    .search-rgt{
        position: absolute;
        bottom: -5px;
        right: 0;
        margin-right: 25px;
            
    }
    .hd-line{
        border-top-style: solid;
        border-top-color: #333333;
        border-top-width: 1px;
        margin-left: 100px;
        margin-top: 50px;
    }
    .content{
        background: #ffffff;
        margin-top: -20px;
        padding: 50px 50px 18px 50px;
    }
    .pr-img{
        padding-top: 30px;
        display: block;
    }
    .pr-img img{
        width: 100%;
    }
    .name_pr{
        font-size: 45px;
        font-weight: bold;
        text-transform: uppercase;
        color: #1b0011;
        padding-left: 5%;
    }
    .frm{
        padding-left: 8%;
       
    }
    .frm_name{
        text-align: center;
        background: url(../img/arr.png) center center no-repeat;
        border: 1px solid #dadada;
        height: 75px;
        font-size: 11px;
        font-weight: bold;
        text-transform: uppercase;
        padding: 5px 30px 0px 30px;
    }
    .frm_famle{
        padding-top: 35px;
    }
    .frm_name2{
        background-color: #ffcc00;
        height: 75px;
        padding: 30px 26px;
        font-size: 11px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .frm_name2_ad{
        padding-left: 1px;
        padding-right: 1px;
        text-align: center;
    }
    .bt-start{
        font-size: 11px;
        font-weight: bold;
        text-transform: uppercase;
        color: #ffffff;
        background: #00b461;
        border-radius: 15px;
        text-align: center;
        padding: 10px;
        cursor: pointer;
        margin-top: -10px;
    }
    .bt-start:hover{
        background: #2f773f;
    }
    .st-nmbr{
        position: absolute;
        right: 0;
        top: 0;
         font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        color: #1b0011;
        padding-top: 5px;
        
    }
    .pr-mn{
         color: #000000;
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
        padding-left: 25px !important;        
        padding-top: 0 !important;        
        padding-bottom: 0 !important;        
        margin-bottom: 20px;
    }
    .pr-mn:hover{
        border-left-color: #e5185b;
        border-left-width: 5px;
        border-left-style: solid;
        background-color: #ffffff !important;
        padding-left: 20px !important;
    }
.bg-line{height: 100%; width:100%; font-size: 0;}
.bg-line-1, .bg-line-2, .bg-line-3,.bg-line-1_sm, .bg-line-2_sm, .bg-line-3_sm {display: inline-block; *display: inline; zoom: 1; vertical-align: top; font-size: 12px; height: 5px;}

.bg-line-1{width: 65%; background: #00ad5d;}
.bg-line-2 {width: 10%; background: #000000;}
.bg-line-3{width: 25%; background: #f24841;}

.bg-line-1_sm{width: 25%; background: #00ad5d;}
.bg-line-2_sm {width: 10%; background: #000000;}
.bg-line-3_sm{width: 65%; background: #f24841;}

.ch-avat{
        font-size: 11px;
        font-weight: bold;
        text-transform: uppercase;
        position: absolute;
        bottom: 0;
        right: 30px;
}
.ch-avat a{
    color: #000000;
    text-decoration: none;
}
.ch-avat a:hover{
    color: #ffffff;  
    
}
.stactic{
    padding: 20px 50px;
    background: #e9e9e9;
    text-transform: uppercase;
    font-weight: bold;
    color: #000000;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.stactic_clr{
    color: #e5185b;
}
.stactic_clr2{
    color: #00ad5d;
}
.stactic_clr3{
    color: #f24841;
}
.team{
    background: #ffffff;
    padding: 50px;
}
.team h2{
     text-transform: uppercase;
    font-weight: bold;
    color: #000;
}
.team-tx{
   font-size: 18px; 
   color: #000;
}
.team-lst{
    list-style: none;
    padding-left: 0;
}
.team-lst li{
    padding-bottom: 5px;
}
.team-lst a{
   text-transform: uppercase;
    font-weight: bold;
    color: #000;
    font-size: 12px;  
    
}
.team-lst a:hover{
   text-decoration: none; 
   color: #363434;
}
.team-tb_fw{
    font-weight: bold;
}
.team-gm{
    padding: 20px 20px 20px 100px;
    background: url("../img/gm.png") 3% 50% no-repeat;
    border: solid 1px #dadada;
    margin-bottom: 10px;
}
.team-gm_tx1{
    font-weight: bold;
    font-size: 22px;
    font-style: italic;
}
.team-gm_tx2{
    font-weight: bold;
    font-size: 12px;
    font-style: italic;
}
.static-gm{
   font-weight: bold;
   font-size: 30px; 
   text-transform: uppercase;
   color: #1b0011;
}
.static-cnt{
   background: #ffffff;
   padding: 0px 50px 50px 50px;
}
.static-gm2{
   font-weight: bold;
   font-size: 24px; 
   text-transform: uppercase;
   color: #000000;
}
.static-gr{
   font-size: 0; 
   text-align: right;
   padding-right: 50px;
   background: url("../img/cs-go.png") 0% 100% no-repeat;
}
.static-gr_img2{
    background: url("../img/HEARTHSTONE.png") 0% 100% no-repeat;
}
.static-gr_img3{
    background: url("../img/DOTA-2.png") 0% 100% no-repeat;
}
.diagram, .diagram2,.diagram3{
    background: #ffcc00;
    width: 50px;
    height: 72px;
    display: inline-block;
    vertical-align: bottom;
    
}
.diagram2{
  background: #c0c0c0; 
  height: 115px;
}
.diagram3{
    background: #ff5e2c; 
    height: 165px;
}
.diagram4{
   width: 1px;
   height: 200px; 
   opacity: 0;
   display: inline-block;
   vertical-align: bottom;
}
.diagram-tx{
  font-size: 22px;
  margin-top: -30px;
  text-align: center;
  font-weight: bold;
  color: #ffcc00;
  font-family: 'Intro Bold';
}
.diagram-tx_color2{
    color: #c0c0c0;
}
.diagram-tx_color3{
    color: #ff5e2c;
}
.diagram-tx2{
    font-family: 'Intro Bold';
   color: #000; 
   font-weight: bold;
   font-size: 18px;
   text-align: center;
   position: absolute;
   bottom: 0;
   width: 50px;
}
.static-line{
    padding-bottom: 30px;
}
.static-tx{
   font-weight: bold;
   font-size: 14px; 
   text-transform: uppercase;
   padding: 30px 0;
   height: 60px;
}
.static-cl2{
    color: #8c8c8c;
}
.static-cl3{
    color: #e5185b;
}
.static-tx2{
    font-weight: bold;
    font-size: 12px; 
    text-transform: uppercase;
    padding-bottom: 10px;
    color: #009852;
}
.static-tx2_clr{
    color: #000;
}
.static-tx2_clr2{
    color: #f24841;
}
.static-tx3{
    color: #1b0011;
    padding: 60px 0px 30px;
    font-weight: bold;
    font-size: 24px; 
    text-transform: uppercase;
}
.static-table{
    color: #1b0011;
    padding: 0;
    font-weight: bold;
    font-size: 24px; 
    text-transform: uppercase;
    padding-bottom: 100px;
}
.table-title{
    font-weight: bold;
    font-size: 20px; 
    text-transform: uppercase;
    border-color: #000;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 0;
    border-right-width: 0;
    border-style: solid;
    height: 60px;
}
.table-text{
   font-weight: bold;
   font-size: 14px; 
   font-style: italic;
   height: 75px;
   text-transform: capitalize;
}
.table-border{
    border-color: #000;
    border-top-width: 0;
    border-bottom-width: 2px;
    border-left-width: 0;
    border-right-width: 0;
    border-style: solid;
}
.table td{
    vertical-align: middle !important;
}
.table-img-1{
      background: url("../img/HEARTHSTONE.png") 0% 50% no-repeat;
      background-size: 20%;
      padding-left: 40px !important;
}
.table-img-2{
      background: url("../img/DOTA-2.png") 0% 50% no-repeat;
      background-size: 20%;
      padding-left: 40px !important;
}
.table-img-3{
      background: url("../img/cs-go.png") 0% 50% no-repeat;
      background-size: 20%;
      padding-left: 40px !important;
}

.table-title td:nth-child(5),.table-text td:nth-child(5){
    text-align: center;
}
.table-title td:nth-child(1),.table-text td:nth-child(1){
    padding-left: 20px;
}
.ftr-ln{
    height: 20px;
    background: #ffffff;
}
footer{
    background: #000;
    height: 183px;
}
.ftr-nv{
    padding: 25px 20px 0px 20px;
}
.ftr-nv li{
      display: inline-block;
      padding-right: 40px;
}
.ftr-nv2 li {
      display: inline-block;
      padding-right: 2px;
}
.ftr-nv li a{
          background: url("../img/vk.png") 0% 0% no-repeat;
    color: #fff;
    font-weight: bold;
    font-size: 12px; 
    text-transform: capitalize;
    padding-left: 50px;
    text-transform: uppercase;
}
.ftr-nv li a:hover{
    color: #dddddd;
}
.gr-line{
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #333333;
    margin-top: 30px;
    padding-right: 120px;
    width: 93%;
    margin-left: -20px;
}

.ftr-nv2{
   padding: 20px 0px 0px 18px; 
}

.ftr-nv2 li a{
        color: #333333;
        font-weight: bold;
        font-size: 12px; 
        text-transform: uppercase;
        padding: 5px 0px;
}
.ftr-nv2 li a:hover{
    color: #fff;
}
.cmpn{
    float: right; 
    font-size: 11px;
    padding-right: 10% !important;
    text-transform: uppercase;
}
.ftr-lgtp{
    width: 80px;
    height: 80px;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    border-width: 2px;
    border-color: #303030;
    border-style: solid;
    padding: 2px;
    text-align: center;
}
.ftr-nv_icn{
  background: url("../img/fb.png") 0% 0% no-repeat !important;  
}
.ftr-nv_icn2{
  background: url("../img/tw.png") 0% 0% no-repeat !important;  
}
.ftr-nv_icn3{
  background: url("../img/arr2.png") 0% 0% no-repeat !important;  
}
 #sm-nav{
        display: none;
        height: 52px;
        position: relative;
        z-index: 20;
        border-bottom-style: solid;
        border-bottom-width: 1px;
    }
    .sm-nav_lgtp{
        float: left;
        width: 40px;
        height: 40px;
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        
    }
    .sm-nav_lgtp img{
        width: 100%;
    }
    .sm-nav_bt{
        width: 37px;
        height: 37px;
        float: right;
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 2%;
    }
    .overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.98);
    }
    .overlay-boxify{
        visibility: hidden;
        opacity: 0;
        -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
        transition: opacity 0.5s, visibility 0s 0.5s;
    }
    .overlay-boxify.open{
        visibility: visible;
        opacity: 1;
        -webkit-transition: opacity 0.5s;
        transition: opacity 0.5s;
        z-index: 10;
    }
    .overlay_mn{
        padding: 10% 1.5% 10%;
    }
    .overlay_mn_inner {
        margin-left: 5%;
    }
    .overlay_mn li a,.overlay_mn_inner li a{
        color: #ffffff;
        font-weight: bold;
        font-size: 12px; 
        text-transform: uppercase;
        border-bottom: 4px solid rgba(0, 0, 0, 0.0);
        padding-left: 0;
        
    }
    
    .overlay_mn a:hover,.overlay_mn a:focus{
        border-bottom: 4px solid #e5185b;
        padding-left: 0;
    }
    
    .overlay_mn li:last-child a:hover, .overlay_mn li:last-child a:focus{
        border-bottom-width:0;
    }
    .overlay_mn_inner li:last-child a:hover,.overlay_mn_inner li:last-child a:focus{
        border-bottom-width:4px;
    }
    .close{
      display: none;
    }
    .st-nmbr-mdrl,.ch-avat-mdrl,.line-mdrl{
        display: none;
    }
